<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

    <head>
        <title>Spring Security Example</title>
    </head>
    <body>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
    <script type="text/javascript" src="templates/app.js"></script>
        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>
        <form th:action="@{/login}" method="post">
            <div><label> User Name : <input type="text" name="username"/> </label></div>
            <div><label> Password: <input type="password" name="password"/> </label></div>
            <div><input type="submit" value="Sign In"/></div>
        </form>
    <div ng-app="app" ng-controller="controller1">
            <p>{{hello}}</p>
            <div ng-view></div>
    </div>
    <script type="text/javascript">
var app = angular.module("app", ["ng-router"]);
        app.config(function($routerProvider){
            $routerProvider.when ("/fuck",{
                template:"<div>Hola</div>
            })
        });

        app.controller('controller1',function($scope){
            $scope.hello = "Hola a todos";
        });
    </script>
    </body>
</html>